<!DOCTYPE html>
<html>
<head>
    <!-- TITLE OF SITE -->
    <title>Sawani Cleaners</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="cleanmax - Business HTML Template" />
    <meta name="keywords" content="cleanmax, parallax, one page, multipage, responsive, landing, html template" />
    <meta name="author" content="cleanmax" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="./images/favicon.png" />

    <!-- CSS Begins
================================================== -->
    <!--Animate Effect-->
    <link href="./stylesheets/animate.css" rel="stylesheet" />
    <link href="./stylesheets/hover.css" rel="stylesheet" />

    <!--Owl Carousel -->
    <link href="./stylesheets/owl.carousel.css" rel="stylesheet" />

    <!-- For Image Preview -->
    <link rel="stylesheet" href="./stylesheets/magnific-popup.css" />

    <!--BootStrap -->
    <link href="./stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="./stylesheets/normalize.css" rel="stylesheet" />

    <!-- Main Style -->
    <link href="./stylesheets/style.css" rel="stylesheet" />
    <link href="./stylesheets/responsive.css" rel="stylesheet" />

    <!--[if IE]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<div class="container">
    <div class="row">
        <div style="padding-top: 250px" class="col-sm-12 col-md-12">
            <div  style="text-align: center; font-size: larger"  class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×</button>
                <span class="glyphicon glyphicon-ok"></span> <strong>Success Message</strong>
                <hr class="message-inner-separator">
                <p>Your Response has been noted. Our Representive will call you soon</p>
                <br>
                <p> Thank You For choosing Sawani Cleaners </p>
            </div>
        </div>
        <div>
            <input class="btn btn-primary" type="submit"  value="book" name="submit" onclick="myFunction()">
        </div>
    </div>
</div>
</body>
</html>