
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> </html><![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> </html><![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> </html><![endif]-->
<!--[if gt IE 8]> <!-->
<html lang="zxx">
<!--
<![endif]-->

<head>
    <!-- TITLE OF SITE -->
    <title>Sawani Cleaners</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="cleanmax - Business HTML Template" />
    <meta name="keywords" content="cleanmax, parallax, one page, multipage, responsive, landing, html template" />
    <meta name="author" content="cleanmax" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="./images/favicon.png" />

    <!-- CSS Begins
================================================== -->
    <!--Animate Effect-->
    <link href="./stylesheets/animate.css" rel="stylesheet" />
    <link href="./stylesheets/hover.css" rel="stylesheet" />

    <!--Owl Carousel -->
    <link href="./stylesheets/owl.carousel.css" rel="stylesheet" />

    <!-- For Image Preview -->
    <link rel="stylesheet" href="./stylesheets/magnific-popup.css" />

    <!--BootStrap -->
    <link href="./stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="./stylesheets/normalize.css" rel="stylesheet" />

    <!-- Main Style -->
    <link href="./stylesheets/style.css" rel="stylesheet" />
    <link href="./stylesheets/responsive.css" rel="stylesheet" />

    <!--[if IE]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>

<!-- ::::::::::::::::::::::::::: Start: Preloader section :::::::::::::::::::::::::::-->
<div id="preloader"></div>
<!-- ::::::::::::::::::::::::::: End: Preloader section ::::::::::::::::::::::::::: -->

<!-- Start: Header Section
==================================================-->

<!-- End: Header Info -->

<!-- Start: Slides  -->
<div class="slides_wrapper">
    <div class="slides__preload_wrapper">
        <div class="spinner"></div>
    </div>
    <div class="slider_home">
        <!-- Start: Slider 1  -->
        <div class="single_slider slide_bg_1">
            <div class="slider_item_tb">
                <div class="slider_item_tbcell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-8">
                                <h2>We can make your <br /> place sparkle </h2>
                                <div class="slider_btn">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End: Slider 1  -->
        <!-- Start: Slider 2  -->
        <div class="single_slider slide_bg_2">
            <div class="slider_item_tb">
                <div class="slider_item_tbcell">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">
                                <h2>Cleaning makes your <br /> Environment good</h2>
                                <div class="slider_btn">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End: Slider 2  -->
    </div>
</div>
<!-- End:  Slider
==================================================-->



<!-- Start:  Promo Area
==================================================-->
<div class="promo_area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="promo_list">
                    <li class="promo_list__item">
                        <div class="icon icon_group"></div>
                        <div class="promo_list_title">Fully Trained Employees</div>
                        <p>What does it mean to say that employees are fully trained? It means every individual hired at Sawani Cleaners goes through a thorough screening process, and then is trained in every aspect of our home cleaning services. This ensures high-quality service every time.</p>
                    </li>
                    <!-- End: Promo 1-->
                    <li class="promo_list__item">
                        <div class="icon icon_house"></div>
                        <div class="promo_list_title">Safety &amp; Experience </div>
                        <p>The experts at Sawani Cleaners are committed to providing thorough house cleaning services for our valued customers across the city. In order to accomplish this goal, we adhere to strict standards to enhance the entire experience that remains consistent across the board.</p>
                    </li>
                    <!-- End: Promo 2-->
                    <li class="promo_list__item">
                        <div class="icon icon_like_alt"></div>
                        <div class="promo_list_title">Environmentally Responsible Cleaning</div>
                        <p>At Sawani Cleaners, we believe in doing our part to protect the environment. That is why we, as a company, are so committed to using products that are safe for the earth. Specifically, each of our locations use cleaning products that are environmentally responsible or sustainable.</p>
                    </li>
                    <!-- End: Promo 3-->
                </ul>
            </div>
        </div>
        <!-- End: row-->
    </div>
    <!-- End: container-->
</div>
<!-- End:  Promo Area
==================================================-->



<!-- Start: About Section
==================================================-->
<section class="about-section">
    <div class="container">
        <!-- Start: Heading -->
        <div class="base-header">
            <h5>About us</h5>
            <h3>We Are Sawani Cleaners </h3>
            <span><img src="./images/heading_icon.png" alt="" /></span>
        </div>
        <!-- End:  heading -->
        <div class="row">
            <div class="col-md-8 about_bottom_warp">
                <div class="about_list_warp">
                    <div class="col-sm-6 col-xs-12 wow fadeInUp">
                        <!-- about-item -->
                        <div class="about_list">
                            <div class="icon-fea icon_group"></div>
                            <h5>Highly-Trained Staff</h5>
                        </div>
                        <!-- End: .about-item -->
                    </div>
                    <div class="col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".1s">
                        <!-- about-item -->
                        <div class="about_list">
                            <div class="icon-fea icon_cog"></div>
                            <h5>Exceptionally Secure Services</h5>
                        </div>
                        <!-- End: .about-item -->
                    </div>
                    <div class="col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".2s">
                        <!-- about-item -->
                        <div class="about_list">
                            <div class="icon-fea  icon_documents"></div>
                            <h5>Locally Owned</h5>
                        </div>
                        <!-- End: .about-item -->
                    </div>
                    <div class="col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".2s">
                        <!-- about-item -->
                        <div class="about_list">
                            <div class="icon-fea  icon_documents"></div>
                            <h5>Satisfaction Guaranteed</h5>
                        </div>
                        <!-- End: .about-item -->
                    </div>
                    <!--End: About Left-->
                </div>
            </div>
            <!--End: about_bottom_warp -->
        </div>
        <!--End: row-->
    </div>
    <!-- End: container-->
</section>
<!--  End: About Section
==================================================-->


<!-- Start: Estimate Section
==================================================-->
<div class="estimate_section" id="estimate">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <form class="form-order" role="form" method="POST" action="">
                    <div class="estimate_form_inner wow fadeInUp" data-wow-delay=".1s">
                        <div id="success"></div>
                        <div class="input-group">
                            <input type="text" name="fullname" id="fullname" placeholder="Full Name" required="" class="form-control" Required/>
                        </div>
                        <div class="input-group">
                            <input type="email" name="email" id="email" placeholder="Email Address" required="" class="form-control" Required/>
                        </div>


                        <div class="input-group">
                            <input type="tel" name="mobile" id="mobile" placeholder="Mobile No. (03xx-xxxxxxx)" class="form-control" Required pattern="[0-9]{4}-[0-9]{7}"/>
                        </div>

                        <div class="form-group col-md-6">
                            <label style="color: white" for="services"><span>*</span>Choose Any Service</label>

                            <select class="form-control" id="mySelect" name="service">
                                <option value="OFFICE CLEANING">OFFICE CLEANING</option>
                                <option value="REMODELING CLEANING">REMODELING CLEANING</option>
                                <option value="CARPET CLEANING">CARPET CLEANING</option>
                                <option value="HOUSE CLEANING">HOUSE CLEANING</option>
                            </select>


                        </div>
                        <input class="btn btn-primary" type="submit"  value="book" name="submit" onclick="myFunction()">

                    </div>
                </form>
                <!--/.form -->
                <script>
                    function myFunction() {
                       var x =  document.getElementById("mySelect").value;

                    }
                </script>
            </div>
        </div>
        <!--/.row -->
    </div>
    <!--/.container -->
</div>
<!-- End: Estimate Section
==================================================-->



<!-- Start: Service Section
==================================================-->
<section class="service_section" id="agenda">
    <div class="container">
        <!-- Start: Heading -->
        <div class="base-header">
            <h5>Professional Staff</h5>
            <h3> Our Services</h3>
            <span><img src="./images/heading_icon.png" alt="" /></span>
        </div>
        <!-- End:  heading -->
        <div class="row">
            <div class="col-sm-3">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active">
                        <a data-target="#allergist" data-toggle="tab">Office Cleaning</a>
                    </li>
                    <li>
                        <a data-target="#neurologist" data-toggle="tab">Remodeling Cleaning</a>
                    </li>
                    <li>
                        <a data-target="#pathologists" data-toggle="tab">Carpet cleaning</a>
                    </li>
                    <li>
                        <a data-target="#physiatrist" data-toggle="tab">House cleaning</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content col-sm-9">
                <div class="tab-pane active" id="allergist">
                    <div class="col-sm-6 col-xs-12">
                        <div class="service_list">
                            <div class="service_img">
                                <img alt="team" class="img-responsive" src="./images/service1.jpg" />
                            </div>
                            <div class="service_para">
                                <h5>Office Cleaning</h5>
                                <p>Sawani CLeaners uses a unique detailed cleaning system that can keep your office space clean and orderly. Your office space should be a place where you can focus on your work without having to worry about anything else. Contact Sawani Cleaners and we’ll do the cleaning for you!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End : Tab pane 1 -->

                <div class="tab-pane" id="neurologist">
                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <div class="service_list">
                            <div class="service_img">
                                <img alt="team" class="img-responsive" src="./images/service2.jpg" />
                            </div>
                            <div class="service_para">
                                <h5>Remodeling Cleaning</h5>
                                <p>Are you remodeling the kitchen or adding on a new bedroom? If so, you likely have a lot of dust and debris hanging around, even when construction is done. Instead of spending hours cleaning it up, get the pros involved! At Sawani Cleaners, we are experienced in cleaning services and come quickly to your home to detail clean it from top to bottom.</p>
                            </div>
                        </div>
                    </div>
                    <!--/Item -->
                </div>
                <!-- End : Tab pane 2 -->
                <div class="tab-pane" id="pathologists">
                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <div class="service_list">
                            <div class="service_img">
                                <img alt="team" class="img-responsive" src="./images/service4.jpg" />
                            </div>
                            <div class="service_para">
                                <h5>Carpet Cleaning</h5>
                                <p>We know that carpets often carry a lot of grime and dirt—and they can be a breeding ground of allergens and germs. With our carpet cleaning services, we use our professional equipment to keep your carpet looking amazing and your home healthy.</p>
                            </div>
                        </div>
                    </div>
                    <!--/Item -->
                </div>
                <!-- End : Tab pane 3 -->
                <div class="tab-pane" id="physiatrist">
                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <div class="service_list">
                            <div class="service_img">
                                <img alt="team" class="img-responsive" src="./images/service3.jpg" />
                            </div>
                            <div class="service_para">
                                <h5>House cleaning</h5>
                                <p>We use our unique detailed cleaning system to ensure that our customers' homes always meet our high standard of cleanliness. This system was developed over 25+ years of professional house cleaning experience. We use this system to ensure that our clients are always satisfied and can expect a consistently clean and beautiful space.</p>
                            </div>
                        </div>
                    </div>
                    <!--/Item -->
                </div>
                <!-- End : Tab pane 4 -->
            </div>
        </div>
        <!---/.row -->
    </div>
    <!--/.container -->
</section>
<!-- End: Service Section
==================================================-->

<!-- Start: Fun Facts Section
==================================================-->
<section class="confacts-section">
    <div class="container">
        <div class="row">
            <div class="funfact_wapr">
                <!-- col-lg-4 -->
                <div class="col-sm-3 col-xs-12">
                    <div class="facts_wrapper">
                        <div class="icon-lay">
                            <i class="icon_gift_alt"></i>
                        </div>
                        <h3 class="stat-count count">197 </h3>
                        <h5>PROJECTS DONE</h5>
                    </div>
                </div>
                <!-- col-lg-4 /- -->
                <!-- col-lg-4 -->
                <div class="col-sm-3 col-xs-12">
                    <div class="facts_wrapper">
                        <div class="icon-lay">
                            <i class="icon_lightbulb_alt"></i>
                        </div>
                        <h3 class="stat-count count">275</h3>
                        <h5>PROBLEM SOLVED</h5>
                    </div>
                </div>
                <!-- col-lg-4 /- -->
                <!-- col-lg-4 -->
                <div class="col-sm-3 col-xs-12">
                    <div class="facts_wrapper">
                        <div class="icon-lay">
                            <i class="icon_heart_alt"></i>
                        </div>
                        <h3 class="stat-count count">374</h3>
                        <h5> CLIENTS HELPED</h5>
                    </div>
                </div>
                <!-- col-lg-4 /- -->
                <!-- col-lg-4 -->
                <div class="col-sm-3 col-xs-12">
                    <div class="facts_wrapper">
                        <div class="icon-lay">
                            <i class="icon_clock_alt"></i>
                        </div>
                        <h3 class="stat-count count">437</h3>
                        <h5> Working Hours</h5>
                    </div>
                </div>
                <!-- col-lg-4 /- -->
            </div>
            <!-- funfact_wapr /- -->
        </div>
        <!-- row /- -->
    </div>
    <!-- container /- -->
</section>
<!-- Start:Fun Facts Section
==================================================-->



<!-- Start: Testimonial Section
==================================================-->
<div class="testimonials-section" id="testimo">
    <div class="container">
        <!-- Start: Heading -->
        <div class="base-header">
            <h5>our testimonial</h5>
            <h3>what client say</h3>
            <span><img src="./images/heading_icon.png" alt="" /></span>
        </div>
        <!-- End:  heading -->
        <div class="row">
            <!-- Testimonials-->
            <div class="owl-carousel owl-theme" id="testimonial">
                <!-- Start: Testimonial 1 -->
                <div class="item">
                    <div class="testimonial-box">
                        <div class="col-lg-4 col-xs-4 testi_images">
                            <a href="#" class="testi_social"><i class="fa fa-instagram"></i></a>
                            <img alt="testimonial" src="./images/tes1.jpg" />
                        </div>
                        <div class="col-lg-8 col-xs-8 cus-title">
                            <span class="tes-nam">Ali Murtaza</span>
                            <i class="icon_star"></i>
                            <i class="icon_star"></i>
                            <i class="icon_star"></i>
                            <i class="icon_star"></i>
                            <i class=" icon_star-half_alt"></i>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="testimonial_content">
                                <p>It's very difficult finding a quality, reliable cleaning service so when I find one, I tend to stick with them. These guys really are professional! Very efficient. Reasonable prices. No hidden fees. Cleaning staff arrived on time and finished on time and did an excellent job. No complaints.</p>
                            </div>
                        </div>
                    </div>
                    <!--End: Testimonial 1 -->
                </div>
                <!-- Start: Testimonial 2 -->
                <div class="item">
                    <div class="testimonial-box">
                        <div class="col-lg-4 col-xs-4 testi_images">
                            <a href="#" class="testi_social"><i class="fa fa-instagram"></i></a>
                            <img alt="testimonial" src="./images/tes2.jpg" />
                        </div>
                        <div class="col-lg-8 col-xs-8 cus-title">
                            <span class="tes-nam">Zishan Shahid</span>
                            <i class="icon_star"></i>
                            <i class="icon_star"></i>
                            <i class="icon_star"></i>
                            <i class="icon_star"></i>
                            <i class="icon_star"></i>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="testimonial_content">
                                <p>Excellent service!  I needed a last minute quick house cleaning.  They were able to come the next day at 8 a.m.   The cleaning woman was quick and thorough and the house was sparkling afterwards.  She followed my very specific directions.....I will definitley be using this company again in the future!</p>
                            </div>
                        </div>
                    </div>
                    <!--End: Testimonial 2 -->
                </div>
                </di	v>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!-- End: Testimonial Section
==================================================-->



    <!--  Start: Blog Section
==================================================-->
    <section class="blog-section">
        <div class="container">
            <!-- Start: Heading -->
            <div class="base-header">
                <h5>our blog</h5>
                <h3>Happy To Help</h3>
                <span><img src="./images/heading_icon.png" alt="" /></span>
            </div>
            <!-- End:  heading -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="blog-warp-1 blog_warp_lay_1">
                        <div class="blog_imgg">
                            <img src="./images/blog_1.jpg" alt="" />
                        </div>
                        <div class="blog_content_warp">
                            <h5><a href="./blog.html"> How to remove coffee stain</a></h5>
                            <a href="#" class="blog_datee"><i class="fa fa-calendar"></i>  Feb 24  </a>
                            <p>You can lift out many water-soluble stains—including beer, fruit juices, black coffee or tea—from your cotton-blend clothing or tablecloth by patting the spot with a towel moistened with undiluted white vinegar just before placing the item in the wash. For large stains, you may want to soak the garment overnight in a solution of 3 parts vinegar to 1 part cold water before washing.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="blog-warp-1 blog_warp_lay_1">
                        <div class="blog_imgg">
                            <img src="./images/blog_2.jpg" alt="" />
                        </div>
                        <div class="blog_content_warp">
                            <h5><a href="./blog.html"> How to clean your carpet</a></h5>
                            <a href="#" class="blog_datee"><i class="fa fa-calendar"></i>  Sept 13  </a>
                            <p>Cleaning the carpet is essential to keeping it looking fresh and new. Steam cleaning involves using a cleaning solution under pressure injected deep into the carpet via water-jet nozzles. Then the machine extracts the solution along with the dirt and debris in the carpet. The water will penetrate the fiber all the way down to the backing and loosen any embedded soil, remove oil and grease deposits, and get your carpet cleaner than it has ever been.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="blog-warp-1 blog_warp_lay_1">
                        <div class="blog_imgg">
                            <img src="./images/blog_3.jpg" alt="" />
                        </div>
                        <div class="blog_content_warp">
                            <h5><a href="./blog.html"> How to clean your table</a></h5>
                            <a href="#" class="blog_datee"><i class="fa fa-calendar"></i>  Dec 27  </a>
                            <p>Either buy a commercial wood cleaner, or make a solution of warm water and a few drops of dishwashing soap. Dampen a microfiber cloth or old t-shirt with the cleaner and wipe the table down, focusing on areas that look and feel grimy. If soap or commercial cleaners won’t remove all the residue on the table, try dampening a cloth with mineral spirits and scrubbing at tough stains. </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ row -->
        </div>
        <!--/ container -->
    </section>
    <!--   End: Blog Section
==================================================-->


    <!-- Start: Bottom Banner
==================================================-->
    <div class="bottom_banner">
        <div class="container">
            <div class="flt_left">
                <h4>If you need any cleaning related service</h4>
                <h5>We are Honest & our work will leave you Satisified</h5>
            </div>
            <!-- End .text -->
            <a class="more-link">03213315221</a>
        </div>
        <!-- End .container -->
    </div>

    <!--   End: Bottom Banner
==================================================-->


    <!-- Start:Footer Section
==================================================-->
    <footer class="footer-section">
        <div class="container">
            <div class="row">

                <!-- Start:Subfooter -->
                <div class="subfooter">
                    <div class="col-xs-6">
                        <p>2017 &copy; Copyright <a href="#">Sawani.</a> All rights Reserved.</p>
                    </div>
                    <div class="col-xs-6">
                        <a class="scrollup" href="#">GO TOP</a>
                    </div>
                </div>
                <!-- End:Subfooter -->
            </div>
        </div>
    </footer>
    <!-- End:Footer Section
========================================-->

    <!-- Scripts
========================================-->
    <!-- jquery -->
    <script src="./javascripts/jquery-1.12.4.min.js" type="text/javascript"></script>
    <!-- plugins -->
    <script src="./javascripts/plugins.js"></script>
    <!-- Bootstrap -->
    <script src="./javascripts/bootstrap.min.js"></script>

    <!-- Custom Scripts
========================================-->
    <script src="./javascripts/main.js"></script>
</div>
</body>

</html>